
.relatedPanel {
  display: flex;
  border: 10px solid grey;
}

/* RELATED CAROUSEL RELATED CAROUSEL*/
.carousel  {
  display: flex;
  /* flex-flow: wrap; */
  background-color: grey;
  padding: 1%
  /* justify-content: flex-start; */
}


/* RELATED CARD INDIVIDUAL CARD */

.relatedCard  {
  /* border: 3px solid darkgrey; */
  border-radius: 6px;
  width: 10%;
  min-width: 120px;
  margin: 10px;
  box-shadow: 0px 0px 7px black;
  background-color: rgba(237, 232, 232, 0.867);
}

.relatedProductImage {
  position: relative;
  cursor: pointer
}

.relatedProductImage img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  position: relative
}

.relatedActionButton {
  position: absolute;
  right: 8%;
  top:  8%;
  z-index: 1;
  font-size: 100%;
  color: yellow;
  height: 1.5em;
  width: 1.5em;
  background-color: rgb(255, 208, 0);
  border: 1% solid rgb(255, 208, 0);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif
}

.relatedBottomTile {
  display: flex;
  flex-flow: column;
  justify-content: space-between
}

.relatedCategory {
  margin: 2%;
  font-family: sans-serif;
  font-size: .8em;
  color: grsey
}

.relatedProductName {
  margin: 2%;
  font-family: sans-serif;
  color: rgb(84, 84, 84);
  font-size: 100%;
  cursor: pointer
}

.relatedPrice {
  margin: 2%;
  font-family: sans-serif;
  font-size: 90%;
  color: grey
}

.relatedStars {
  margin: 2%;
  font-family: sans-serif;
  color: grey;
  cursor: pointer;
  font-size: 100%;
  color: darkorange
}

.fogOfWar {
  background-color: grey;
  width: 400px;
  border: 50px solid grey;
  box-shadow: -70px 0px 20px grey;
  z-index: 2
}
