root {
  font-family: sans-serif;
  --highlight: #ff9900;
  --lowlight: #146eb4;
  --accent: #232f3e;
  --main: #000000;
  --background: #f2f2f2;
  --component: white;
  --text: grey;
  --tile: white;
  background-color: var(--background);
}
/* Darkmode theme for reference (not actually used in this file)
darkmode {
  font-family: sans-serif;
  --highlight: #ff9900;
  --lowlight: #146eb4;
  --accent: rgb(83, 83, 83);
  --main: #000000;
  --background: rgb(27, 27, 27);
  --component: rgb(43, 43, 43) ;
  background-color: var(--background);
  color:rgb(196, 196, 196);
} */

#appHeader {
  display:flex;
  justify-content: space-between;
  font-size: 200%;
  font-weight: bolder;
  font-style: italic;
  color:rgb(196, 196, 196);
  background-color: var(--main);
  padding: 2.5%;
}

#appHeaderMargin {
  height: 50px;
  background-color: var(--accent);
}

#appFooterMargin {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 80%;
  color: var(--background);
  background-color: var(--accent);
}

#appFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--background);
  background-color: var(--main);
  padding-top: 2%;
}

.members {
  color: var(--lowlight);
}

#internalUse {
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
}

/* #end {
  background-color:var(--lowlight);
} */

/* OVERVIEW */
/*   OVERVIEW ARROWS */

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 2em;
  width: 1em;
  height: 1em;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/*   OVERVIEW THUMBNAILS */

.imageGalleryThumbs {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  z-index: 1;
}

.selected {
  border: 3px solid blue
}

.overviewThumb {
  height: auto;
  max-width: 5em;
  z-index: 1;
  margin: 1em;
}

/* RELATED MODAL  */



#RelatedModalBackdrop {
  position:fixed;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.349);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#RelatedClearBackrop {
  position:fixed;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(100, 100, 100, 0.349);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#RelatedModalBox {
  background-color: rgb(213, 210, 210);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 10px rgb(255, 255, 255);
  border-radius: 5px;
  width: 60%;
  height: fit-content;
  z-index: 4;
  display: flex;
  padding:  8px;
  flex-direction: column;
  font-family: sans-serif;

}

#closeModal {
  border:  1px solid black;
  align-self: center;
  cursor:pointer;
}

#RelatedMyOutfitButton {
  padding: 5px;
  background-color:rgb(240, 169, 128);
  width: fit-content;
  border-radius: 3px;
  box-shadow: 0 0 3px yellow;
  cursor: pointer
}


/* RELATED CAROUSEL RELATED CAROUSEL*/

.relatedCarouselTitle {
  background-color: var(--background);
  border-top: 1px solid lightgray;
  font-family: sans-serif;
  color: var(--text);
  font-size: 115%;
  padding-left: 20px;
  padding-top: 10px;
}

.relatedPanel {
  display: flex;
  /* border: 10px solid var(--background); */
  background-color: var(--background);
  min-width: 100%;
}


.relatedCarousel    {
  display: flex;
  width: 80%;
  background-color: var(--background);
  justify-content: flex-start;
}



/* RELATED CARD INDIVIDUAL CARD */

.relatedCard  {
  height: 300px;
  width: 10%;
  min-width: 150px;
  margin: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35) ;
  background-color: var(--tile);
}

.relatedAddCard  {
  height: 300px;
  width: 10%;
  min-width: 150px;
  margin: 10px;
  justify-items: center;
  box-shadow: 1px 1px 15px rgba(0,0,0,0.8);
  background-color: var(--tile);
  font-family: sans-serif;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center ; */
  /* display: relative; */
  /* flex-direction: column;
  justify-content: center; */
  cursor: pointer;
}



#AddImage {
  /* position: relative; */
  /* right:50%;
  top: 50%; */
  z-index: 1;
  box-shadow: 0 0 5px blue;
}

.relatedProductImage {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#relatedAddTextBox {
  display:block;
  height: fit-content;
  width: 90%;
  position: absolute;
  flex-direction: column;
  z-index: 1;
  padding: 3px;
  background-color: #146fb49e;
  border-radius: 4px;
}

.relatedAddText {
  color: white;
  text-align: center;
}

BarLoader {
  z-index: -1;
}

.relatedActionButton {
  position: absolute;
  right: 8%;
  top:  8%;
  z-index: 1;
  font-size: 100%;
  color: black;
  width: 1.5em;
  background-color: var(--action-color);
  border: 1% solid var(--action-color);
  box-shadow: 0 0 6px var(--action-color);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif
}

.MyOutfitActionButton {
  position: absolute;
  right: 8%;
  top:  8%;
  z-index: 1;
  font-size: 100%;
  color: rgb(0, 0, 0);
  width: 1.5em;
  height: 1.5em;
  background-color: var(--action-color);
  border: 0px solid var(--action-color);
  box-shadow: 0 0 6px var(--action-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: sans-serif
}
.relatedBottomTile {
  height: 25%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer
}

.relatedCategory {
  margin: 2%;
  font-family: sans-serif;
  font-size: .8em;
  color: var(--text)
}

.relatedProductName {
  margin: 2%;
  font-family: sans-serif;
  color: rgb(84, 84, 84);
  font-size: 100%;
  cursor: pointer
}

.relatedPrice {
  margin: 2%;
  font-family: sans-serif;
  font-size: 90%;
  color: var(--text)
}
.relatedPriceStrike {
  margin: 2%;
  font-family: sans-serif;
  font-size: 90%;
  color: crimson;
  text-decoration:line-through
}

/* .relatedStars {
  margin: 2%;
  font-family: sans-serif;
  color: grey;
  cursor: pointer;
  font-size: 100%;
} */

.relatedFogOfWarL {
  /* background-color: white; */
  width: fit-content;
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: end;
  font-size: 300%;
  z-index: 2;
  /* box-shadow: 40px 0 30px white; */
}

.relatedFogOfWarR {
  background-color: var(--background);
  /* border: 5px solid white; */
  width: fit-content;
  display: flex;
  align-items: center;
  justify-self: end;
  font-size: 300%;
  box-shadow: -30px 0 40px var(--background);
  z-index: 2
}

.relatedArrow {
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.598);
  cursor: pointer;
}
.relatedArrowOFF {
  border-radius: 50%;
  color: var(--background);
}


/* STAR COMPONENT */

:root {
  --star-size: 100%;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

/* RATING AND REVIEWS */
#reviewContainer {
  background-color: var(--background);
  border-top: solid 1px;
  border-color: lightgrey;
  padding-bottom: 10%;
}

#reviewComponent {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  width: 90%;
  margin-top: 2%;
  padding-top: 2%;
  padding-bottom: 5%;
}

#reviewMain {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 70%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#searchBar {
  width: 30%;
  margin-bottom: 1%;
}

#reviewAllTiles {
  display: flex;
  flex-direction: column;
  max-height:800px;
  overflow-y:auto;
}

.listButtons {
  margin-top: 1%;
}

.reviewButton {
  width: 20%;
  margin-right: 1%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.newReviewButton {
  width: 20%;
  border: none;
  margin-right: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#showMoreOnce {
  margin-top: 1%;
}
  /* review tile */
.reviewHeader {
  display: flex;
  justify-content: space-between;
  height: 10%;
  font-size: 80%;
}
.reviewNameDate {
  display:flex;
}

.reviewerName {
  color: var(--accent);
  font-weight: bold;
}

.reviewTile {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  border-color: grey;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
}

#Irecommend {
  font-size: 85%;
  margin-bottom: 1%;
}

.reviewContent {
  display: flex;
  flex-direction: column;
}

#reviewBodyDisplay {
  font-size:90%;
  word-wrap: break-word;
}

.reviewResponse {
  background-color: rgb(238, 238, 238);
  padding-bottom: 1%;
}

.reviewShowMore {
  font-size: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;
}

.reviewAllPhotos {
  display: flex;
  margin-top: 1%;
}

.reviewPhoto {
  margin-right: 1%;
}
.reviewThumbnail {
  height: 50px;
  width: 50px;
}

.responseHeader {
  font-size: 70%;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 1%;
}

.reviewFooter {
  display: flex;
  color:var(--accent);
  height: 10%;
  font-size: 80%;
  margin-top: 1%;
}


.reviewHelpfulClick:hover {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
  /* breakdowns */

#breakdowns {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 20%;
  padding: 1%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 230px;
}

#ratingComponent {
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px;
  border-color: grey;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#ratingBreakdownHeader {
  margin-top: 1%;
  margin-bottom: 1%;
}

#ratingFilter {
  margin-top: 1%;
  margin-bottom: 1%;
}

#ratingFilterButton {
  font-size: 70%;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating:hover {
  background-color: lightblue;
}

.ratingBreakdownAverage {
  font-size: 250%;
  font-weight: bold;
  margin-top: 1%;
}

.reviewStars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: 30px;
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#ratingRecommend {
  font-size: 80%;
  padding-bottom: 3%;
}

#ratingTotal {
  font-size: 80%;
  align-self: flex-end;
}

.ratingCount {
  width: 5%;
  justify-content: flex-end;
}

.ratingBar {
  height: 10px;
  width: 70%;
  justify-content: center;
  background-color: lightgrey;
}

.ratingLabel {
  width: 20%;
  white-space: nowrap;
}

.ratingBarGreen {
  height: 100%;
  background-color: green;
}

#productBreakdown {
  display: flex;
  flex-direction: column;
}

.breakdownCharacteristic {
  display: flex;
  flex-direction: column;
}

.breakdownBar {
  display:flex;
  background-color: lightgrey;
  height: 10px;
}

.breakdownDescriptions {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid black;
  position:relative;
  align-self: center;
}

#writeReviewButton {
  width: 80%;
  border: none;
  margin-top: 25%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  align-self: center;
}

    /* sort */
#sortComponent {
  font-weight: bold;
  font-size: 85%;
  padding-bottom: 2%;
}
#sortMenu {
  width: 15%;
  border: none;
  font-size: 95%;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;

}
    /* newReview */
#newReview {
  height: 90%;
  width: 55%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border:none;
}

#newReviewForm {
  display: flex;
  flex-direction: column;
}

#newReviewHeader {
  font-size: 150%;
  font-weight: bold;
}

#newReviewName {
  font-weight: bold;
  font-size: 80%;
  padding-bottom: 2%;
  border-bottom: solid 1px;
  border-color: lightgrey;
}

.newInputHeader {
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 1%;
}

#newStars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ratingLabels {
  font-size: 25px;
}

#characteristics {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  border-bottom: solid 1px;
  border-color: lightgrey;
}

#newRating, #recommend, #summary, #newBody, #photos, #name, #email {
  border-bottom: solid 1px;
  border-color: lightgrey;
  padding-bottom: 2%;
  padding-top: 2%;
}

.newCharacteristicBlock {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  width: 25%;
}

.newCharHeaderBlock {
  display:flex;
}

.newCharacteristicHeader {
  align-self: flex-start;
  font-weight: bold;
  font-size: 85%;
}

.newSelectedCharacteristic {
  align-self: center;
  font-size: 75%;
  font-style: italic;
  color:var(--accent);
}

.newCharacteristic {
  display: flex;
  justify-content: space-around;
}

.newRange {
  display: flex;
  font-size: 70%;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
}

.newPhoto {
  height: 50px;
  width: 50px;
  margin-right: 1%;
}

.newTip {
  font-size: 75%;
  color:var(--accent)
}

#newSummaryInput {
  width: 100%;
}

#newBody {
  display: flex;
  flex-direction: column;
}

#newBodyInput {
  width: 100%;
  resize: vertical;
  font-family: sans-serif;
}

#newMinChars {
  font-size: 75%;
  align-self: flex-end;
  color: var(--accent)
}

#emailInput, #nameInput {
  width: 30%;
}

#newButtons {
  display: flex;
  margin-top: 1%;
  justify-content: right;
  color:var(--highlight);
}
