
.relatedPanel {
  display: flex;
  border: 10px solid grey;
}

/* RELATED CAROUSEL RELATED CAROUSEL*/
.relatedCarousel    {
  display: flex;
  padding:50px;
  /* flex-flow: wrap; */
  background-color: grey;
  padding: 1%
  /* justify-content: flex-start; */
}


/* RELATED CARD INDIVIDUAL CARD */

.relatedCard  {
  /* border: 3px solid darkgrey; */
  border-radius: 6px;
  width: 10%;
  min-width: 150px;
  margin: 10px;
  box-shadow: 0px 0px 7px black;
  background-color: rgba(237, 232, 232, 0.867);
}

.relatedProductImage {
  position: relative;
  cursor: pointer
}

.relatedProductImage img {
  height: 100%;
  width: 100%;
  border-top-right-radius: 6px 6px;
  border-top-left-radius: 6px 6px;
  /* border-radius: 6px; */
  position: relative
}

.relatedActionButton {
  position: absolute;
  right: 8%;
  top:  8%;
  z-index: 1;
  font-size: 100%;
  color: yellow;
  /* height: 1.5em; */
  width: 1.5em;
  background-color: rgb(255, 208, 0);
  border: 1% solid rgb(255, 208, 0);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  font-family: sans-serif
}

.relatedBottomTile {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  cursor: pointer
}

.relatedCategory {
  margin: 2%;
  font-family: sans-serif;
  font-size: .8em;
  color: grsey
}

.relatedProductName {
  margin: 2%;
  font-family: sans-serif;
  color: rgb(84, 84, 84);
  font-size: 100%;
  cursor: pointer
}

.relatedPrice {
  margin: 2%;
  font-family: sans-serif;
  font-size: 90%;
  color: grey
}

.relatedStars {
  margin: 2%;
  font-family: sans-serif;
  color: grey;
  cursor: pointer;
  font-size: 100%;
  color: darkorange
}

.relatedFogOfWarR {
  background-color: grey;
  width: 200px;
  box-shadow: -35px 0px 25px grey;
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: end;
  font-size: 300%;
  z-index: 2
}

.relatedFogOfWarL {
  background-color: grey;
  width: 50px;
  box-shadow: 25px 0px 25px grey;
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: end;
  font-size: 300%;
  z-index: 2
}

.relatedArrow {
  border-radius: 50%;
  color: rgba(0, 0, 0, 0.598);
  cursor: pointer;
}
#reviewAllTiles {
  display: flex;
  flex-direction: column;
  border-style: solid;
}

.reviewTile {
  border-style: solid;
  margin: 2%;
}

.reviewButton {
  margin: 2%;
  width: 10%;
}

.newReviewButton {
  margin: 2%;
  width: 10%;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
}

.reviewContent {
  display: flex;
  flex-direction: column;
}

/* STAR COMPONENT */

:root {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#ratingComponent {
  display: flex;
  border-style: solid;
  flex-direction: column;
}

.rating {
  display: flex;
  align-items: center;
}

.ratingBar {
  height: 10px;
  width: 15%;
  background-color: grey;
}

.ratingBarGreen {
  height: 100%;
  background-color: green;
}


.newCharacteristic {
  display: flex;
  align-items: center;
}

.newDescription {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
}

